<div class="login-container">
    <mat-card>
        <mat-card-title>Login Form</mat-card-title>
        <h4 class="text-center text-danger">{{ msg }}</h4>
        <mat-card-content>
            <form (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <input matInput placeholder="Username" name=username [(ngModel)]="username" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="password" required>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>